[submodule "roboschool"]
	path = roboschool
	url = https://github.com/openai/roboschool.git
[submodule "bullet3"]
	path = bullet3
	url = https://github.com/olegklimov/bullet3
[submodule "baselines"]
	path = baselines
	url = https://github.com/openai/baselines.git
