[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybullet = ">=2.1.7,!=2.1.8"
gym = "*"
"discord.py" = "*"
matplotlib = "*"
pandas = "*"
"44eff87" = {path = "./roboschool", editable = true}
"9eeb991" = {path = "./baselines"}

[dev-packages]
"flake8" = "*"
