[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybullet = "*"
gym = "*"
baselines = "*"
"discord.py" = "*"
matplotlib = "*"
pandas = "*"
catkin-pkg = "*"
"05d79e8" = {path = "./urdf_parser_py"}
pyyaml = "*"
lxml = "*"

[dev-packages]
"flake8" = "*"
