[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybullet = ">=2.1.7,!=2.1.8"
matplotlib = "*"
pick = "*"
numpy = "*"
numpy-quaternion = "==2018.11.3.1.0.41"
numba = "*"
flom = "*"
evostra = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"

[scripts]
fix = "autopep8 -ivr ."
lint = "flake8 ."
train = "./rlenv/scripts/run.sh"
play = "./rlenv/scripts/play.sh"
experiment = "./rlenv/scripts/experiment.sh"
plot = "python ./rlenv/scripts/plot.py"

[requires]
python_version = "3.5"
